---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="container">
		<main>
			<h3>Recipes I Eventually Want to Make</h3>
			<p>Testing</p>

			<ul>
				<li>
					<a href="https://youtube.com/shorts/KeZHUFRlB4A?si=nImDPUn1vg9_D3Ib">Steve at Vivaldi's Avgolemono Soup</a>
					<ul>
						<li>
							<a href="https://www.themediterraneandish.com/avgolemono-soup-recipe/">Another version</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="https://youtu.be/xtrGqeqZ09o?si=W2w0p7G3FAGOWdRQ">Ethan Chelbowski's Carbonade Flammande</a>
				</li>

				<!-- <li><a href=""></a></li> -->
			</ul>
		</main>
	</div>
</Layout>
