---

---

<header class="container">
	<nav>
		<ul>
			<li><a href="/recipes" class="no-link"><strong>🍳Get Cooked</strong></a></li>
		</ul>
		<ul>
			<li><a href="/recipes">Home</a></li>
			<li><a href="/recipes/recipes">Recipes</a></li>
			<li><a href="/recipes/eventual">Eventual</a></li>
		</ul>
	</nav>
</header>

<style>
	nav {
		justify-content: start;
	}

	.no-link {
		color: var(--pico-h3-color);
	}
	.no-link:hover {
		color: var(--pico-h3-color);
		text-decoration: none;
	}
</style>