---
type RecipeFile = {
    fileUrl: string;
    recipeName: string;
};

const files = import.meta.glob("../recipes/*.json", { eager: true });
const entries = Object.entries(files);
const recipes: RecipeFile[] = entries.map((entry) => {
    const fullFileName = entry[0];

    // strip everything before last /
    const fileName = fullFileName.substring(fullFileName.lastIndexOf("/") + 1);
    console.log(fileName);

    // remove .json
    const fileUrl = fileName.substring(0, fileName.length - 5);

    // remove - and capitalize first letters
    const recipeName = fileUrl
        .split("-")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(" ");

    return { fileUrl, recipeName };
});
---

<div class="container">
    <main>
        <h3>Recipe List</h3>
        <ul>
            {
                recipes.map((recipe) => (
                    <li>
                        <a href={`./recipes/${recipe.fileUrl}`}>{recipe.recipeName}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</div>

<style>
    main {
        padding-bottom: 2rem;
    }
</style>

<!-- 
### Mains
 - [Beef Bulgogi](./recipes/beef-bulgogi.md)
 - [Coq Au Vin](./recipes/coq-au-vin.md)
 - [Smash Burgers](./recipes/smash-burgers.md)
 - [White Win Chicken and Potatoes](./recipes/white-wine-chicken-and-potatoes.md)

### Pasta
 - [Pasta Primavera](./recipes/pasta-primavera.md)
 - [Red Sauce](./recipes/red-sauce.md)

### Proteins
 - [Bacon Wrapped Smokies](./recipes/bacon-wrapped-smokies.md)
 - [Beer Battered Fish](./recipes/beer-battered-fish.md)
 - [Fried Chicken](./recipes/fried-chicken.md)
 - [Pork Shoulder](./recipes/pork-shoulder.md)
 - [Pork Tenderloin](./recipes/pork-tenderloin.md)
 - [Ribs](./recipes/ribs.md)

### Soup
 - [Chicken Gnocchi Soup](./recipes/chicken-gnocchi-soup.md)
 - [Roasted Tomato Soup](./recipes/roasted-tomato-soup.md)

### Miscellaneous
 - [All Purpose Seasoning](./recipes/all-purpose-seasoning.md)
 - [Burger Sauce](./recipes/burger-sauce.md)
 - [Hummus](./recipes/hummus.md)
 - [Tartar Sauce](./recipes/tartar-sauce.md) -->
