---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container">
	<main>
        <h3>Welcome</h3>
        <p>This website is a collection of my favourite recipes. None of these are of my own creation, but are instead an amalgamation of several different recipes from different authors, video creators, chefs, and influencers. I will do my best to credit the person/people who most influenced a recipe, but some of my go-to sources are:</p>
        <ul>
            <li><a href="https://www.youtube.com/@aragusea">Adam Ragusea</a></li>
            <li><a href="https://www.youtube.com/@internetshaquille">Internet Shaquille</a></li>
            <li><a href="https://www.youtube.com/@EthanChlebowski">Ethan Chlebowski</a></li>
            <li><a href="https://www.youtube.com/@JKenjiLopezAlt">J. Kenji Lopez-Alt</a> </li>
            <li><a href="https://www.youtube.com/@mattymatheson">Matty Matheson</a></li>
            <li><a href="https://www.youtube.com/@bingingwithbabish">Binging with Babish</a> </li>
            <li><a href="https://www.youtube.com/@SteveatVivaldi">Steve at Vivaldi</a> </li>
        </ul>

        <br>
        <p>This website is not intended to be a cookbook or any official collections of recipes. There are no servings listed, the steps are probably vague and imperfect, and half the measurements are probably wrong or I purposely omitted. This is just the result of me scribbling down how I think I made something after I made it, and then trying to format it cleanly later so I can reference it the next time I want to make something.</p>

        <h3>The "Gist"</h3>
        <p>Many recipes include a section titled "The Gist". This represents a a "high-level idea of what to do" version. Not all recipes include this section.</p>
        <p>When I first try a recipe, I like to follow it to a T, to get an accurate representation of how the final dish should look at taste. However, eventually, I want to cook without constantly staring at my Notes app trying to get every detail perfect. Personally, there is no better feeling than knowing the general idea of a recipe and executing it on the fly perfectly. Okay, there are probably better feelings, but that's up there.</p>
        <p>Once I've followed a recipe and made a dish a couple times, I like to boil down the recipe into a few sentences, which is the source of "The Gist". Next time I want to make the dish, I can skim The Gist and remember the general idea, and roll with it. I have a terrible memory, so having this quick reminder helps ease my anxiety of forgetting something crucial. </p>
        <p>Please enjoy.</p>
	</main>
</div>


<style>
</style>
